---
import BaseLayout from "../layouts/BaseLayout.astro";

type ExtLink = {
	href: string;
	img?: string;
	img_alt?: string;
	name: string;
	isMutual?: boolean;
	comment?: string;
};

const links: ExtLink[] = [
	{
		href: "https://yuinoid.neocities.org/",
		img: "/ext/yuinoid-neocities-org-banner.gif",
		name: "100%health",
		isMutual: true,
		comment: `主にFediverseやTwitch上で活動されているいど子さん
		のサイトです。このサイトでは分散SNS関連年表(とても有益)や
		素敵なイラストなどを見ることができます。Twitchでの配信も大変興味深く、
		おすすめです。`,
	},
	{
		href: "https://t3tekuno.neocities.org",
		img: "/ext/t3tekuno-neocities-org-banner.png",
		name: "てく野のサイト",
		comment: `主にFediverse上で活動されているてく野さんのサイトです。
		このサイトでは素敵なイラストなどを見ることができます。
		私は鉄野みすずさんが好きです。`,
	},
	{
		href: "https://little-girl-float.in/",
		name: "little-girl-float.in",
		isMutual: true,
		comment: `Fediverseなどで活動されている蝉暮せせせさんのサイトです。
		このサイトでは主宰されている音楽サークルex. happyender girlの情報や
		ブログなどを見ることができます。私はファストダンスはもう踊れないが
		お気に入りです。`,
	},
	{
		href: "https://towasys.com/",
		name: "t_wの輪郭",
		isMutual: true,
		comment: `Fedivierseなどで活動されている渡辺時羽さんのサイトです。
		このサイトでは主に渡辺さんの日記や生活に関する情報を知ることができます。
		特にソフトウェア技術と生活の情報が大変興味深いです。`,
	},
	{
		href: "https://ongaku-modkey.hatenablog.com/",
		name: "エッコ　チェンバー　地下",
		comment: `Xなどで活動されている才ンガク毛ドキさんのサイトです。
		主にVaporwave関連情報等について日本語圏で最も詳しい(私調べ)記事を
		読むことができます。`,
	},
	{
		href: "https://1041uuu.jp/",
		name: "1041uuu展示室",
		comment: `豊井さんのサイトです。このサイトでは豊井さんの素敵なイラストを
		見ることができます。Webページのデザイン面でもとても惹きつけられます。私が
		撮影する写真は豊井さんのイラストにかなり影響を受けていると勝手ながら
		思っています。`,
	},
	{
		href: "https://yamaiga.com",
		img: "/ext/yamaiga-com-banner2.gif",
		name: "山さ行かねが",
		comment: `日本の廃道未成道レポートで最も有名な方なのではないかと思います。
		過酷な条件でも踏破する果敢さや机上調査の詳しさも魅力的ですが、文章や
		ページ構成も飽きさせない起伏があって読みやすく良いです。なんだ偉そうに。`,
	},
	{
		href: "https://hccweb6.bai.ne.jp/yomogi-farm/",
		img: "/ext/bai-ne-jp-yomogi-farm-banner.jpg",
		name: "フランソワさんのよもぎ畑",
		comment: `主に東方Projectのアレンジ楽曲を制作されている蓬屋ふらんさんの
		サイトです。ここのサイトでは過去のアレンジ楽曲やイラストを見ることができます。
		私はエクステンドアッシュ&nbsp;～蓬莱人のアレンジが特に好きです。`,
	},
	{
		href: "https://waxwing.neocities.org/",
		name: "false azure in the windowpane",
		comment: `イラストやゲームを制作されているio(waxwing)さんのホームページです。
		鳩羽つぐさんのファンアートを描かれていた所から知りました。
		絵柄もモチーフもWebデザインも大変素敵です。<br/>
		制作されたホラーゲーム'Flesh,&nbsp;Blood,&nbsp;&&nbsp;Concrete'は
		itch.ioから無料でプレイでき、おすすめ。`,
	},
	{
		href: "http://www.usui-iigame.sakura.ne.jp/index.html",
		img: "/ext/usui-iigame-sakura-ne-jp-banner.gif",
		name: "ウスイのホームページ",
		comment: `ゲーム実況や旅行動画などを投稿されているウスイさんのホームページです。
		このページではプレイされたゲームの情報やお絵描き掲示板を見ることができます。
		生配信でのゲーム実況や道路探索動画が興味深く、毎日見ています。`,
	},
	{
		href: "http://www.himawarihouse.com/",
		img: "/ext/himawarihouse-com-banner.gif",
		name: "ひまわりはうす",
		comment:
			"のんのんじー、てけてけマイハート、あかねこの悪魔の復刊を希望します。うじゃうじゃ。",
	},
];
links.forEach((e) => {
	e.comment = e.comment?.replaceAll(/\s+/g, "");
});

const comment_mutual = "sougo";
const comment_fav = "okini";

const formedLinks: (string | ExtLink)[] = ((links) => {
	const result: (string | ExtLink)[] = new Array();
	const mutuals = links.filter((link) => link.isMutual);
	const favorites = links.filter((link) => !link.isMutual);
	mutuals.length > 0 && result.push(comment_mutual);
	mutuals.forEach((link) => result.push(link));
	favorites.length > 0 && result.push(comment_fav);
	favorites.forEach((link) => result.push(link));
	return result;
})(links);
---

<BaseLayout title="links" iconName="link" displayFooter>
	<div id="links-container">
		{
			formedLinks.map((e) => {
				if (typeof e === "string") {
					return <h3>{e}</h3>;
				}
				const className = !e.img ? "nameonly" : "";
				const imgAlt = e.img_alt ?? e.name;
				const anchor = (
					<a href={e.href} class={className}>
						{!!e.img ? (
							<>
								{e.name}
								<br />
								<img src={e.img} alt={imgAlt} />
							</>
						) : (
							e.name
						)}
					</a>
				);
				const comment = e.comment ?? "";
				return (
					<section>
						<div class="link">{anchor}</div>
						<div class="comment" set:html={comment} />
					</section>
				);
			})
		}
	</div>
	<hr />
	<p>
		当サイトへのリンクはご自由に。ぜひ。<br />
		バナーだよ:<br />
		<img
			src="/misononoa-cc-banner1.webp"
			height="40px"
			alt="banner1"
			style="image-rendering: pixelated;"
		/>
		<img
			src="/misononoa-cc-banner2.webp"
			height="40px"
			alt="banner2"
			style="image-rendering: pixelated;"
		/>
		<br />
		`image-rendering: pixelated;`をつけるとよいかもしれない。
	</p>
	<br />
	<p slot="footer" style="font-size: small; color: gray;">
		お気づきの点などございましたら、恐れ入りますが下記アカウントまでご連絡ください。
	</p>
</BaseLayout>

<style>
	#links-container > section {
		margin-bottom: 18px;
		border-left-style: dotted;
		border-left-width: 3px;
		border-left-color: lightpink;
		padding-left: 5px;
		image-rendering: pixelated;

		div.link > a {
			vertical-align: middle;
			font-size: small;
		}
		div.link > a.nameonly {
			font-size: medium;
			font-weight: bold;
		}
		div.comment {
			font-size: 95%;
		}
	}

	#links-container > h3 {
		margin-bottom: 3px;
	}
</style>
