---
import type { Page } from "astro";
import { LIST_PER_PAGE } from "lib/constants";
import type { Blog } from "lib/microcms";
import { formatDate } from "lib/util";

export interface Props {
    pager: Page<Blog>;
}

const { pager } = Astro.props;
const { current, next, prev } = pager.url;
const colCount = 3;
const rowCount = Math.ceil(
    Math.min(LIST_PER_PAGE, pager.data.length) / colCount,
);
const listPerPage = LIST_PER_PAGE;
---

<div class="blogs">
    {
        pager.data.map((content) => {
            const date = !!content.publishedAt
                ? formatDate(content.publishedAt)
                : "none";
            return (
                <div class="bloginfo">
                    <div>
                        <a href={`/blog/${content.id}`}>
                            {content.title ?? "no_title"}
                        </a>
                    </div>
                    <div class="date">{date}</div>
                </div>
            );
        })
    }
</div>
<div class="pager">
    <span class="next-prev">
        <a href={prev ?? current}>○</a>
    </span>
    <span class="page-numbers">
        {
            new Array(pager.lastPage)
                .fill(0)
                .map((_, i) => i + 1)
                .map(
                    (i) =>
                        [
                            `/blogs/${i}`,
                            i === pager.currentPage ? "current" : "",
                            i,
                        ] satisfies [string, string, number],
                )
                .map(([path, className, i]) => (
                    <a href={path} class={className}>
                        {i}
                    </a>
                ))
        }
    </span>
    <span class="next-prev">
        <a href={next ?? current}>●</a>
    </span>
</div>

<style define:vars={{ colCount, rowCount, listPerPage }}>
    .blogs {
        display: grid;
        grid-template-columns: repeat(var(--colCount), 1fr);
        grid-template-rows: repeat(var(--rowCount), 1fr);
        gap: 1rem;
    }

    @media screen and (max-width: 70ch) {
        .blogs {
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(var(--listPerPage), 1fr);
            row-gap: 0.7rem;
        }
    }

    .blogs > .bloginfo {
        border-left-style: dotted;
        border-left-width: 3px;
        border-left-color: var(--bordercolor);
        padding-left: 5px;
    }

    .date {
        color: gray;
        font-size: 70%;
    }

    .pager {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 20px 0 0 0;
        font-size: large;
        color: var(--linkcolor);
    }

    .next-prev {
        margin: 0 10px;
    }

    .next-prev > a {
        font-weight: bolder;
        color: black;
    }

    .page-numbers {
        display: inline-flex;
        vertical-align: middle;
        max-width: 40%;
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .page-numbers::-webkit-scrollbar {
        display: none;
    }

    .page-numbers > * {
        height: 40px;
        margin: 0 5px;
    }

    .current {
        font-weight: bolder;
        color: black;
    }
</style>
