---
import type { Page } from "astro";
import type { BlogInfo } from "lib/microcms";
import { formatDate } from "lib/util";

export interface Props {
    pager: Page<BlogInfo>;
}

const { pager } = Astro.props;
const { current, next, prev } = pager.url;
---

<div class="list">
    <table>
        <tbody>
            {
                pager.data.map((content) => {
                    const date = !!content.publishedAt
                        ? formatDate(content.publishedAt)
                        : "none";
                    return (
                        <tr>
                            <td>
                                <a href={`/blog/${content.id}`}>
                                    {content.title ?? "no_title"}
                                </a>
                                <span class="date">{date}</span>
                            </td>
                        </tr>
                    );
                })
            }
        </tbody>
    </table>
</div>
<div class="pager">
    <span class="next-prev">
        <a href={prev ?? current}>○</a>
    </span>
    <span class="page-numbers">
        {
            new Array(pager.lastPage)
                .fill(0)
                .map((_, i) => i + 1)
                .map(
                    (i) =>
                        [
                            `/blogs/${i}`,
                            i === pager.currentPage ? "current" : "",
                            i,
                        ] satisfies [string, string, number],
                )
                .map(([path, className, i]) => (
                    <a href={path} class={className}>
                        {i}
                    </a>
                ))
        }
    </span>
    <span class="next-prev">
        <a href={next ?? current}>●</a>
    </span>
</div>

<style>
    .list {
        display: flex;
        justify-content: center;
    }

    .list > table {
        width: 100%;
    }

    .list td {
        height: 2.5rem;
        border-bottom: dotted 3px lightgrey;
    }

    .date {
        margin-left: 1rem;
        color: gray;
        font-size: 70%;
    }

    .pager {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 20px 0 0 0;
        font-size: large;
        color: var(--linkcolor);
    }

    .next-prev {
        margin: 0 10px;
    }

    .next-prev > a {
        font-weight: bolder;
        color: black;
    }

    .page-numbers {
        display: inline-flex;
        vertical-align: middle;
        max-width: 40%;
        overflow-x: scroll;
        scrollbar-width: none;
    }

    .page-numbers::-webkit-scrollbar {
        display: none;
    }

    .page-numbers > * {
        height: 40px;
        margin: 0 5px;
    }

    .current {
        font-weight: bolder;
        color: black;
    }
</style>
