---
export type AccountDetail = {
	hostname: string;
	path?: string;
	username: string;
	text: string;
};

export interface Props {
	accounts: Array<AccountDetail>;
}

const linkprops = Astro.props.accounts.map<[string, string]>((a) => [
	`https://${a.hostname}/` +
		(!!a.path ? `${a.path}/${a.username}` : `${a.username}`),
	a.text.toLowerCase().match("misskey") ? a.text + "🍀" : a.text,
]);
---

<ul class="horizontal-list">
	{
		linkprops.map(([href, text]) => (
			<li class="item">
				<a href={href}>{text}</a>
			</li>
		))
	}
</ul>

<style>
	ul.horizontal-list {
		width: 100%;
		margin: 0;
		padding: 0;
		display: flex;
		justify-content: space-between;
		overflow-x: scroll;
		scrollbar-width: none;
		white-space: nowrap;
	}
	.item {
		display: inline-block;
		margin: 0 3px;
	}
</style>
