---
export interface Props {
	fqdn: string;
	path?: string;
	name: string;
	text: string;
}

const { fqdn, path, name, text } = Astro.props;
const display = text.toLowerCase().match("misskey") ? text + "🍀" : text;
const locator: string =
	`https://${fqdn}/` + (path !== undefined ? `${path}/${name}` : `@${name}`);
---

<p><a href={locator}>{display}</a></p>
